@forward "main";



//

.menu {
  --ui__menu__spacing-x: var(--spacing__md);
  --ui__menu__spacing-y: var(--spacing__xs);

  display: flex;
  flex-direction: column;

  & > .menu {
     margin-left: 1rem;
  }

  & .menu-title, & .menu-item {
    padding: var(--ui__menu__spacing-y) var(--ui__menu__spacing-x);
  }

  & .menu-title {
    font-weight: bold;
    margin-top: 1rem;
  }

  & .menu-item {

  }
}